

<div  class="sidebar ">
    <div class="container-fluid">
        <div class="logo">
            <a href="#" class="simple-text">
                <div>
                    <img  class="logo-img"src="/assets/img/logolib.png"/>
                </div>
           
                  
            </a>
        </div>
        <div class="sidebar-wrapper">
        
            <ul class="nav">
                <p class="ml-3 cardbody user">welcome {{ user }}</p>               
         

                <li routerLinkActive="nav-item" *ngFor="let menuItem of menuItems"  class="{{menuItem.class}} ">
                    <a class="nav-link" *ngIf="!authService.mustchangepassword" [routerLink]="[menuItem.path]">
                        <i class="material-icons">{{menuItem.icon}}</i>
                        <p>{{menuItem.title}}</p>
                    </a>
                </li>
               
      
                  
            </ul>
        </div>
    </div>
</div>


