


<div class="background-container  d-flex justify-content-center align-items-center">

  <div class="overlay"></div> <!-- Blurred Overlay -->
  <div class="login row shadow-lg rounded p-4">
    <!-- Left Side: Introduction Text -->
    <!-- <div class="col-md-6 intro-text p-4 d-flex flex-column justify-content-center align-items-center">
      <img src="/assets/img/legal1.jpg" alt="Welcome Cartoon" class="cartoon-img mb-3">
      <p class="welcome-text textcolor">
        Welcome! Register Collateral Assets Efficiently for Lion International Bank S.C.
      </p>
    </div>
     -->


    <!-- Right Side: Login Form -->
    <div class="col-md-12 text-center">
      <a class="simple-text">
        <img class="logo-img mb-4" src="/assets/img/logolib.png" alt="LIB Logo" />
      </a>
      <div class="login-container">
        <h2 class="mb-3">Login</h2>
        <form (ngSubmit)="onSubmit()">
          <div class="form-group mb-3">
            <label for="username" class="form-label move-left">Username</label>
            <input type="text" id="username" [(ngModel)]="username" name="username" required class="form-control">
          </div>
          <div class="form-group mb-3">
            <label for="password" class="form-label move-left">Password</label>
            <input type="password" id="password" [(ngModel)]="password" name="password" required class="form-control">
          </div>
          
          <button type="submit" class="btn color w-100">Login</button>
          <mat-error *ngIf="authService.message" class="text-danger mt-2">
            {{ authService.message }}
          </mat-error>
        </form>
      </div>
    </div>
  </div>
</div>
