.container-form-fields {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }


.form-field {
    width: 25%;
    padding-right: 10px;
    box-sizing: border-box;
}
mat-form-field{
    width: 100%;
}