<div class="col-md-12">
    <div class="card">
      <!-- Header -->
      <div class="card-header cardhead">
        <p class="card-category" style="color:white;">Receipt Management</p>
      </div>
  
      <!-- Toggle Button for Form -->
      <!-- <div class="text-end mt-4">
        <button class="btn btn-sm" (click)="toggleReceiptForm()" type="default">
          <i class="material-icons">add</i> {{ showReceiptForm ? 'Close Form' : 'Add Receipt' }}
        </button>
      </div>
   -->
      <!-- Receipt Form -->
      <div *ngIf="showReceiptForm" class="card-body">
        <div class="card-header cardhead2">
          <p class="card-category" style="color:black;">Fill Receipt Details</p>
        </div>
        <form [formGroup]="receiptForm" (ngSubmit)="onSubmit()">

  
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="debitor_Name">Customer Full Name</label>
              <input id="debitor_Name" formControlName="debitor_Name" type="text" class="form-control" />
              <div *ngIf="receiptForm.get('debitor_Name').touched && receiptForm.get('debitor_Name').invalid" class="text-danger">
                Customer Name is required.
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="paymentMethod">Service Type</label>
              <select id="paymentMethod" formControlName="paymentMethod" class="form-control">
                <option value="cash">Cash</option>
                <option value="account">Account</option>
                <option value="other">Other</option>
              </select>
            </div>
            <div class="form-group col-md-4" *ngIf="receiptForm.get('paymentMethod').value === 'account'">
              <label for="account_No">Account_No</label>
              <input id="account_No" formControlName="account_No" type="text" class="form-control" />
              <div *ngIf="receiptForm.get('account_No').touched && receiptForm.get('account_No').invalid" class="text-danger">
                <div *ngIf="receiptForm.get('account_No').errors?.['required']">
                  Account number is required.
                </div>
                <div *ngIf="receiptForm.get('account_No').errors?.['pattern'] ">
                  Account number must be exactly 10 digits.
                </div>
              </div>
            </div>
            
    
            <div class="form-group col-md-4">
              <label for="amount1">Amount</label>
              <input id="amount1" formControlName="amount1" type="number" class="form-control" />
              <div *ngIf="receiptForm.get('amount1').touched && receiptForm.get('amount1').invalid" class="text-danger">
                Amount is required.
              </div>
            </div>
  
              </div>
  
          <div class="form-row">

            <div class="form-group col-md-4">
              <label for="serviceFee">Service Fee</label>
              <input id="serviceFee" formControlName="serviceFee" type="number" 
              class="form-control" (input)="calculateVAT()"
              />
            </div>
       
            <div class="form-group col-md-4">
              <label for="vat">VAT (15%)</label>
              <input
                id="vat"
                formControlName="vat"
                type="number"
                class="form-control"
                readonly
              />
            </div>
  
   
     
        
              <div class="form-group col-md-4">
                <label for="address">Address</label>
                <input id="address" formControlName="address" type="text" class="form-control" />
              </div>
       
            <div class="form-group col-md-4">
              <label for="tinNo">TinNo</label>
              <input id="tinNo" formControlName="tinNo" type="text" class="form-control" />
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="messsageNo">Reason</label>
              <input id="messsageNo" formControlName="messsageNo" type="text" class="form-control" />
            </div>

            <div class="col-md-12 text-center">
              <button type="submit" [disabled]="receiptForm.invalid || (receiptForm.get('paymentMethod').value === 'account' && !receiptForm.get('account_No').value)" class="btn btn-primary">
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>

    

  <div class="table  ml-5 table-responsive table-striped col-md-12 compact-table table-hover" *ngIf="submittedDataList.length > 0">
    <table class="table">
      <thead>
        <tr>
          <th>Customer Name</th>
          <th>Service Type</th>
          <th>Amount</th>
          <th>Service Fee</th>
          <th>Vat</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of submittedDataList">
          <td>{{ data.debitor_Name }}</td>
          <td>{{ data.paymentMethod }}</td>
          <td>{{ data.amount1 }}</td>
          <td>{{ data.serviceFee }}</td>
          <td>{{ data.vat }}</td>
          <td><button (click)="printReceipt(data)" type="submit" class="btn btn-primary">Print</button></td>
        </tr>
      </tbody>
    </table>
  </div>
    </div>
  </div>

  <div id="receiptContent" style="display: none;">
    <div class="receipt">
        <div class="receipt-header">
            <img src="assets/img/LIBLogo2.jpg" alt="Abay Bank Logo" class="logo-img" />
            <h2 class="slip-title">Abay Bank S.C</h2>
            <p>TIN No: 0012812734</p>
            <p>VAT Reg. No: 0012812734</p>
            <p>VAT Reg. Date: 1/15/2024</p>
        </div>

        <div class="transaction-info">
            <h3>Transaction Information / የግብይት መረጃ</h3>
            <table>
                <tr>
                    <th>Payer Name / የተከፈለ ስም:</th>
                    <td></td>
                </tr>
                <tr>
                    <th>Payer Bank Acc. No / የተከፈለ የባንክ አካውንት ቁጥር:</th>
                    <td></td>
                </tr>
                <tr>
                    <th>Payer TIN No / የተከፈለ ቲአይን ቁጥር:</th>
                    <td></td>
                </tr>
                <tr>
                    <th>Payer Address / የተከፈለ አድራሻ:</th>
                    <td></td>
                </tr>
                <tr>
                    <th>Payer Phone / የተከፈለ ስልክ ቁጥር:</th>
                    <td></td>
                </tr>
            </table>
        </div>
        
        <div class="transaction-details">
            <h3>Transaction Details / የግብይት ዝርዝር</h3>
            <table>
                <tr>
                    <th>Transaction No / የግብይት ቁጥር:</th>
                    <td></td>
                </tr>
                <tr>
                    <th>Product / ምርት:</th>
                    <td></td>
                </tr>
                <tr>
                    <th>Settled Amount / የተከፈለ እቃ መጠን:</th>
                    <td></td>
                </tr>
                <tr>
                    <th>Service Fee / የአገልግሎት ክፍያ:</th>
                    <td></td>
                </tr>
                <tr>
                    <th>VAT (15%) / ኤቭኤቲ (15%):</th>
                    <td></td>
                </tr>
                <tr>
                    <th>Total Paid Amount / አጠቃላይ የተከፈለ መጠን:</th>
                    <td></td>
                </tr>
            </table>
        </div>
        
        <div class="amount-in-words">
            <h3>Total Amount in Words / የተከፈለ መጠን በቃል</h3>
            <table>
                <tr>
                    <th>Amount:</th>
                    <td></td>
                </tr>
            </table>
        </div>
        
        <div class="payment-method">
            <h3>Payment Method / የክፍያ ዘዴ</h3>
            <table>
                <tr>
                    <th>Method:</th>
                    <td></td>
                </tr>
            </table>
        </div>
        

        <div class="footer">
            <img src="path/to/qr-code.png" alt="QR Code" class="qr-code" />
            <p>Abay Bank S.C</p>
            <p>Zuqualu Complex, Jomo Kenyatta Ave. | P.O.Box: 5887 Addis Ababa, Ethiopia</p>
            <p>Tel: +251 11 515 8961 | Fax: +251 11 515 8282</p>
            <p>Email: info@abaybanks.com</p>
        </div>
    </div>
</div>