<div style="margin: 15px;">
  <h6 style="color: rgb(0, 66, 93);">List of Transaction not successfull at LIB</h6>
  <hr>
    <form [formGroup]="TransactionSearchForm">
      <div class="container-form-fields">
        <div class="form-field">
          <mat-form-field>
            <mat-label>Transaction Type</mat-label>
            <mat-select formControlName="TransactionType">
              <mat-option value="0">Outgoing Transaction</mat-option>
              <mat-option value="1">Incoming Transaction</mat-option>
            </mat-select>
          </mat-form-field>
          </div>
      <div class="form-field">
        <mat-form-field>
          <mat-label>LIB Account No:</mat-label>
          <input formControlName="AccountNo" matInput>
        </mat-form-field>
      </div>

      <div class="form-field">
        <mat-form-field>
          <mat-label>Other Account No:</mat-label>
          <input formControlName="GlAccountNo" matInput>
        </mat-form-field>
      </div>
      <!-- <div class="form-field">
      <mat-form-field>
          <mat-label>Transaction Date</mat-label>
          <mat-date-range-input  [rangePicker]="picker">
            <input matStartDate formControlName="DateFrom" placeholder="Start date">
            <input matEndDate formControlName="DateTo" placeholder="End date">
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
       
        </mat-form-field>
      </div> -->

       <div class="form-field">
        <mat-form-field>
            <mat-label>Transaction Date</mat-label>
            <input matInput [matDatepicker]="TransactionDate" formControlName="TransactionDate">
            <mat-datepicker-toggle matIconSuffix [for]="TransactionDate"></mat-datepicker-toggle>
            <mat-datepicker #TransactionDate></mat-datepicker>
          </mat-form-field>
      </div>
      
      <div class="form-field">
          <button mat-flat-button color="primary" (click)="searchTransaction()" [disabled]="!TransactionSearchForm.valid">Search</button>
      </div>
      </div>
  </form>
  
  <button mat-flat-button color="primary" (click)="exportExcel()" *ngIf="dataSource.data.length>0">Export to Excel</button>

  <button mat-flat-button color="primary" (click)="exportCSV()" *ngIf="dataSource.data.length>0">Export to CSV</button>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
      
         <!-- accountNumber Column -->
         <ng-container matColumnDef="accountNumber">
          <th mat-header-cell *matHeaderCellDef>LIB AccountNumber </th>
          <td mat-cell *matCellDef="let element"> {{element.debitedAccountNumber}} </td>
        </ng-container>
      
        <!-- receiverAccount Column -->
        <ng-container matColumnDef="receiverAccount">
          <th mat-header-cell *matHeaderCellDef> Other Account </th>
          <td mat-cell *matCellDef="let element"> {{element.creditedAccount}} </td>
        </ng-container>
      
        <!-- amount Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>
      
        <!-- rrn Column -->
        <ng-container matColumnDef="rrn">
          <th mat-header-cell *matHeaderCellDef> Reference No. </th>
          <td mat-cell *matCellDef="let element"> {{element.refNo}} </td>
        </ng-container>

    
        <!-- Date Column -->
        <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef>LIb Transaction Date </th>
            <td mat-cell *matCellDef="let element"> {{element.transactionDate }} </td>
        </ng-container>

         <!-- ethTransactionDate Column -->
         <ng-container matColumnDef="ethTransactionDate">
          <th mat-header-cell *matHeaderCellDef> Eth Transaction Date </th>
          <td mat-cell *matCellDef="let element"> {{element.ethTransactionDate}} 
            <span *ngIf="isWithinFifteenMinutes(element.ethTransactionDate)" style="color: red; width: 20px;">
              The following transaction Must check on the Previous Date
            </span>
          </td>
        </ng-container>

        <!-- bankName Column -->
        <ng-container matColumnDef="bankName">
        <th mat-header-cell *matHeaderCellDef> bankName </th>
        <td mat-cell *matCellDef="let element"> {{element.bankName}} </td>
      </ng-container>

      <!-- reason Column -->
      <ng-container matColumnDef="reason">
        <th mat-header-cell *matHeaderCellDef> Reason </th>
        <td mat-cell *matCellDef="let element"> <span style="color: red;">{{element.reason}} </span></td>
      </ng-container>

        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements">
      </mat-paginator>
      </div>
        
        