body, input, button, select, textarea {
  font-family: 'Times New Roman', Times, serif;
}
.change-password-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #78c3dd;
  border-radius: 5px;
 background-color: white;
 font-family: 'Times New Roman', Times, serif;
}
.size{
  width:80%;
  font-family: 'Times New Roman', Times, serif;
}
.cont{ 
    margin-bottom: 5px;
     background: linear-gradient(to left, #f9fafa, #ffffff);
     margin-left: 34%;
     margin-top:5%;
     max-width: 450px;
     font-family: 'Times New Roman', Times, serif;
     
}
.change-password-container h2 {
  margin-bottom: 20px;
  margin-top: 50px;
  font-family: 'Times New Roman', Times, serif;
}

.change-password-form .form-group {
  margin-bottom: 8px;
  
}

.change-password-form label {
  display: block;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.change-password-form input[type="password"] {
  width: 90%;
  padding: 8px;
  border: 1px solid #78c3dd;
  border-radius: 5px;
  font-family: 'Times New Roman', Times, serif;}

.change-password-form button[type="submit"] {
  width: 90%;
  padding: 10px;
  background-color: #9fccdb;
  color:#000000 ;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 300px;
  font-size: 11px ;
  font-family: 'Times New Roman', Times, serif;
}

.change-password-form button[type="submit"]:hover {
  background-color: #f3f3eb;
  font-family: 'Times New Roman', Times, serif;
}



.loading-spinner-container {
    position: fixed;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  
  }
  .cardhead{
    background-color: rgb(224, 224, 217);
    font-family: 'Times New Roman', Times, serif;
  }
  .fixed-header {
    position:fixed;
    top: 90px;
    width: 100%;
    z-index: 1000; /* Adjust z-index as needed */
    font-family: 'Times New Roman', Times, serif;
  }
  .btnex{
    color: #09b9dd;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f8fafa;
  }

  /* Style for the input fields */
  input[type="text"] {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  }
  
  /* Style for the search button */
  button {
  padding: 8px 11px;
  background-color:#ffffff;;
  color: rgb(10, 10, 10);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  }
  
  button:hover {
  background-color:#bed5da;;
  font-family: 'Times New Roman', Times, serif;
  }
  
  form-field {
    position: relative;
    margin-bottom: 20px;
  }
  
  .form-field input {
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding: 5px;
    font-size: 11px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .form-field label {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 11px;
    color: black;
    pointer-events: none;
    transition: 0.2s ease all;
    font-family: 'Times New Roman', Times, serif;
  }
  .white{
    color:#09b9dd;  font-family: 'Times New Roman', Times, serif;
  }
  .form-field input:focus ~ label,
  .form-field input:not(:placeholder-shown) ~ label {
    top: -20px;
    left: 5px;
    font-size: 12px;
    color:rgb(117, 111, 111);
    background-color: #fff;
    padding: 0 5px;  font-family: 'Times New Roman', Times, serif;
  }
  .compact-table th {
    font-size: 11px;
    color: black;
    font-weight:650; /* Adjust the font size as needed */
    font-family: 'Times New Roman', Times, serif;
  }
  .compact-table tr {
    font-size: 11px; /* Adjust the font size as needed */
    font-family: 'Times New Roman', Times, serif;
  }
  
  .compact-table th, .compact-table td {
    padding: 4px 8px; 
    font-family: 'Times New Roman', Times, serif;
  }
  td ,th{
    white-space: nowrap; /* Prevent text wrapping */
    font-family: 'Times New Roman', Times, serif;
  }
  
  
  .loading-overlay{
    position:fixed;
    top:26%;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(255,255,255,0.8);
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    font-family: 'Times New Roman', Times, serif;
  
  }
  .small{
    width:5%;
    font-family: 'Times New Roman', Times, serif;
  }
  .btndanger{
    color: rgb(248, 245, 245);
    font-family: 'Times New Roman', Times, serif;
  
  }
  .inputserach{
    width:300px;
   
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 11px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: 50px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' class='bi bi-search' viewBox='0 0 12 12'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.412l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM11 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat right;
    font-family: 'Times New Roman', Times, serif;}
  
  input[type="search"]::placeholder {
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
  }
  
  button[type="submit"]:focus,
  input[type="search"]:focus {
  box-shadow: 0 0 2px 0 #fcc034;
  border-color:#fcc034;
  outline: none;
  }
  
  .search{
  box-shadow: 0 0 1px 0 #bbb;
  border-color: #ed910f;
  outline: none;
  }
  
  .btndelete{
    background-color: #bed5da;
    color:black;
    border-radius: 20px; /* Adjust the value to control the roundness */
    padding: 7px 11px; /* Add padding for better appearance */
    font-size: 11px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Adjust the font size *//* Text color */
    border: none; /* Remove border */
    cursor: pointer; /* Add cursor pointer on hover */
    transition: background-color 0.3s;
    font-family: 'Times New Roman', Times, serif;
  }
  .btndel{
    color:#dd7a09;
    background-color:white;
    font-family: 'Times New Roman', Times, serif;
  }
  .btnsave{
    background-color: #09b9dd;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    
  }
  .table-container {
    width: 100%; /* Set the width of the container */
    overflow-x: auto; /* Enable horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS devices */
  }
  
  .table-striped tbody tr:nth-child(odd) td {
    background-color: #f2f2f2; /* Optional: Alternating row background color */
    font-family: 'Times New Roman', Times, serif;
  }
  
  .table-striped tbody tr td {
    border-right: 1px solid #ddd; /* Add right border between columns */
    font-family: 'Times New Roman', Times, serif;
  }
  
  .table-striped thead th {
    border-bottom: 2px solid #ddd; /* Add bottom border to table header */
    font-family: 'Times New Roman', Times, serif;
  }
  
  .table-container {
    overflow-x: auto;
    max-height: 400px; /* Adjust as needed */
    font-family: 'Times New Roman', Times, serif;
  }
  
  .table-container::-webkit-scrollbar {
    width: 10px;
  }
  
  .table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .table-container::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  .table-container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .btngray{
    background: #555;
    color:white;
    font-family: 'Times New Roman', Times, serif;
  }
  h6{
font-weight: bold;
font-family: 'Times New Roman', Times, serif;
  }