
<div class=" row col-md-12">

<div class=" cont col-md-6 card ">
<div class=" mt-5 size change-password-container mb-5">
    <h6 class="card-header ">Change Password</h6>
    <form (ngSubmit)="changePassword()" class="change-password-form mt-3 ">
      <div class="form-group">
        <label for="oldPassword">Old Password:</label>
        <input type="password" id="oldPassword" name="oldPassword" [(ngModel)]="oldPassword" required>
      </div>
      <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm New Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>
      </div><div class="col-md-4"> <button type="submit" class="btn btn-sm btndel">save</button></div>
      <mat-error  *ngIf="dosntmatch" class="  ">New password and confirm password do not match</mat-error >
        <mat-error  *ngIf="error!=''" class="  ">{{error}}</mat-error >

         
    </form>
  </div>
  </div></div>